.button-component button:hover {
  box-shadow: 0px 3.5px 5px #a85044a0;
  transform: translateY(-0.7px);
}

.button-component button:focus:before {
  transition: all 0.4s ease-out;
  opacity:0;
  width:40px;
  height:40px;
  margin-top:-20px;
  margin-left:-20px;
}


.button-component button:before {
  border-radius: 50%;
  background-color: rgba(255,255,255,0.6);
  content:'';
  position: absolute;
  top: 50%; left: 50%;
  width:0; height:0;
}

.buttonOutline > button {
  color: #2f4858;
  background: #fefefe;
  border: 3px solid #2f4858;
  border-radius: 4px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  font-size: 18px;
  height: 50px;
  min-width: 100%;
  max-width: max-content;
}

.buttonFill > button {
  color: #fff;
  background: #2f4858;
  border-radius: 4px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  font-size: 18px;
  height: 50px;
  min-width: 100%;
  max-width: max-content;
}

.buttonOutline > button img{
  width: 35px;
}

.buttonFill > button img{
  width: 35px;
}

.buttonOutline > button:disabled{
  opacity: 0.9;
  cursor: wait;
}

.buttonFill > button:disabled{
  opacity: 0.9;
  cursor: wait;
}
